---
import BaseLayout from '../layouts/BaseLayout.astro';

import ContactCTA from '../components/ContactCTA.astro';
import Hero from '../components/Hero.astro';
import Pill from '../components/Pill.astro';
import Pill2 from '../components/Pill2.astro';
---

<BaseLayout title="About | Rokayia Almhdie" >
	<div class="stack gap-20">
		<main class="wrapper about">
			<Hero
				title=""
				tagline=""
			>
				<img
					width="1553"
					height="873"
					src="/assets/pictureRokayia.jpg"
					alt="Rokayia Almhdie"
				/>
			</Hero>


			<section>
				<h2 class="section-title">Formation</h2>

			<div class="timeline">
  <div class="container left">
    <div class="date">2023 - 2024</div>
    <div class="content">
      <h2>Formation Développement Web et Web Mobile - AFPA</h2>
      <p>
      Développement Front-End (Figma, Bootstrap, HTML, CSS, Javascript) & développement Back-End (Php, Symphony, MySQL), Devops ( git, Docker)
      </p>
    </div>
  </div>
  <div class="container right">
    <div class="date">2017 - 2020</div>
    <div class="content">
      <h2>Technologies de l'Information pour la santé - Polytech Grenoble</h2>
      <p>
       Informatique, génie logiciel, modelisation des systèmes informatiques, traitement de signal et de données, réseau, physiologie, biologie...
      </p>
    </div>
  </div>
  <div class="container left">
    <div class="date">2015 - 2017</div>
    <div class="content">
      <h2>Prépa intégrée MPI - Polytech Orléans</h2>
      <p>
        Informatique, mathématiques, mécanique, électronique, optique... 
      </p>
    </div>
  </div>
  <div class="container right">
    <div class="date">2015</div>
    <div class="content">
      <h2>Baccalaureat série Scientifique, mention européenne anglais - Lycée Voltaire</h2>
      <p>
      
      </p>
    </div>
  </div>

</div>
			</section>
			<section>
				<h2 class="section-title">Compétences</h2>
				<div class="containerC">
					<div class="contentComp">
					<Pill>Java</Pill>
					<Pill>C++</Pill>
					<Pill>C#</Pill>
					<Pill>HTML5</Pill>
					<Pill>CSS3</Pill>
					<Pill>
					<div class="contPill">
						<div>Javascript</div>
						<div style="font-size:0.8rem;">Vanilla,Vue.js5</div>
					</div>
					</Pill>
					<Pill>Bootstap5</Pill>
					<Pill>SQL</Pill>
					<Pill>
					<div class="contPill">
						<div>PHP</div>
						<div style="font-size:0.8rem;">Symphony5</div>
					</div>
					</Pill>
					   <Pill>Matlab</Pill>
					<Pill>R</Pill>
					</div>
					
				   <div class="contentComp">
					<Pill2>A l'écoute</Pill2>
					<Pill2>Passionnée</Pill2>
					<Pill2>Réactive</Pill2>
					<Pill2>Pédagogue</Pill2>
					<Pill2>Rigourouse</Pill2>
					<Pill2>Curieuse</Pill2>
					<Pill2>Motivée</Pill2>
					<Pill2>Esprit d'équipe</Pill2>
					</div>
				</div>
			 
			</section>
		</main>

		<ContactCTA />
	</div>


</BaseLayout>

<style>

	.about {
		display: flex;
		flex-direction: column;
		gap: 3.5rem;
	}

	img {
		margin-top: 1.5rem;
		border-radius: 1.5rem;
		box-shadow: var(--shadow-md);
	}

	section {
		display: flex;
		flex-direction: column;
		gap: 0.5rem;
		color: var(--gray-200);
	}

	.section-title {
		grid-column-start: 1;
		font-size: var(--text-xl);
		color: var(--gray-0);
	}

	.content {
		grid-column: 2 / 4;
	}

	.content :global(a) {
		text-decoration: 1px solid underline transparent;
		text-underline-offset: 0.25em;
		transition: text-decoration-color var(--theme-transition);
	}

	.content :global(a:hover),
	.content :global(a:focus) {
		text-decoration-color: currentColor;
	}

	@media (min-width: 50em) {
		.about {
			display: grid;
			grid-template-columns: 1fr 60% 1fr;
		}

		.about > :global(:first-child) {
			grid-column-start: 2;
		}

		section {
			display: contents;
			font-size: var(--text-lg);
		}
	}



.timeline {
  position: relative;
  width: 100%;
  max-width: 1140px;
  margin: 0 auto;
  padding: 15px 0;
}

.timeline::after {
  content: '';
  position: absolute;
  width: 2px;
  background: var(--gray-100);
  top: 0;
  bottom: 0;
  left: 50%;
  margin-left: -1px;
}

.container {
  padding: 15px 30px;
  position: relative;
  background: inherit;
  width: 50%;
}

.container.left {
  left: 0;
}

.container.right {
  left: 50%;
}

.container::after {
  content: '';
  position: absolute;
  width: 16px;
  height: 16px;
  top: calc(50% - 8px);
  right: -8px;
  background: #ffffff;
  border: 2px solid var(--gray-100);
  border-radius: 16px;
  z-index: 1;
}

.container.right::after {
  left: -8px;
}

.container::before {
  content: '';
  position: absolute;
  width: 50px;
  height: 2px;
  top: calc(50% - 1px);
  right: 8px;
  background: var(--gray-100);
  z-index: 1;
}

.container.right::before {
  left: 8px;
}

.container .date {
  position: absolute;
  display: inline-block;
  top: calc(50% - 8px);
  text-align: center;
  font-size: 14px;
  font-weight: bold;
  color: var(--gray-100);
  text-transform: uppercase;
  letter-spacing: 1px;
  z-index: 1;
}

.container.left .date {
  right: -180px;
}

.container.right .date {
  left: -170px;
}

.container .icon {
  position: absolute;
  display: inline-block;
  width: 40px;
  height: 40px;
  padding: 9px 0;
  top: calc(50% - 20px);
  background: #F6D155;
  border: 2px solid var(--gray-100);
  border-radius: 40px;
  text-align: center;
  font-size: 18px;
  color: var(--gray-100);
  z-index: 1;
}

.container.left .icon {
  right: 56px;
}

.container.right .icon {
  left: 56px;
}

.container .content {
  padding: 30px 30px 30px 30px;
  background: var(--accent-clair);
  position: relative;
  border-radius: 0 50px 50px 0;
}

.container.right .content {
  padding: 30px 30px 30px 30px;
  border-radius: 50px 0 0 50px;
}

.container .content h2 {
  margin: 0 0 10px 0;
  font-size: 18px;
  font-weight: normal;
  color: var(--gray-100);
}

.container .content p {
  margin: 0;
  font-size: 16px;
  line-height: 22px;
  color: #000000;
}

@media (max-width: 767.98px) {
  .timeline::after {
    left: 90px;
  }

  .container {
    width: 100%;
    padding-left: 120px;
    padding-right: 30px;
  }

  .container.right {
    left: 0%;
  }

  .container.left::after, 
  .container.right::after {
    left: 82px;
  }

  .container.left::before,
  .container.right::before {
    left: 1000px;
    border-color: transparent var(--gray-100) transparent transparent;
  }

  .container.left .date,
  .container.right .date {
    right: auto;
    left: -15px;
  }

  .container.left .icon,
  .container.right .icon {
    right: auto;
    left: 146px;
  }

  .container.left .content,
  .container.right .content {
    padding: 30px 30px 30px 30px;
    border-radius: 50px 0 0 50px;
  }
}
.contentComp{
	   display: flex;
		  flex-wrap:wrap;
		gap: 0.5rem;
		margin-top: 20px;
}
</style>
